Run with: "/usr/WS1/han12/.jacamar-ci/builds/xH8Vk3MX/000/gitlab/han12/GEOSX/build/bin /usr/WS1/han12/.jacamar-ci/builds/xH8Vk3MX/000/gitlab/han12/GEOSX/integratedTests/update/run --failIfTestsFail --logs=TestLogs.001"

================================================================================
                                  config show                                   
================================================================================
     batch_bank                         :    :                                                   
     batch_dryrun                       :    :  False                                            
     batch_header                       :    :  []                                               
     batch_interactive                  :    :  False                                            
     batch_partition                    :    :                                                   
     batch_ppn                          :    :  0                                                
     batch_queue                        :    :  pbatch                                           
     browser                            :    :  False                                            
     browser_command                    :    :  firefox -no-remote                               
     checkmessages_always_ignore_regexp :    :  ['not available in this version']                
     checkmessages_never_ignore_regexp  :    :  ['not yet implemented']                          
     clean_on_pass                      :    :  False                                            
     curvecheck_absolute                :    :  1e-05                                            
     curvecheck_delete_temps            :    :  True                                             
     curvecheck_enabled                 :    :  True                                             
     curvecheck_failtype                :    :  composite                                        
     curvecheck_output                  :    :  False                                            
     curvecheck_relative                :    :  1e-05                                            
     curvecheck_tapestry_mode           :    :  False                                            
     decomp_factor                      :    :  1                                                
     default_timelimit                  :    :  30m                                              
     environment                        :    :  {'VIADEV_USE_SHMEM_COLL': '0',                   
                                        :    :  'PSM_RANKS_PER_CONTEXT': '4',                    
                                        :    :  'MV2_USE_SHMEM_COLL': '0'}                       
     executable_path                    :  * :  /usr/WS1/han12/.jacamar-                         
                                        :    :  ci/builds/xH8Vk3MX/000/gitlab/han12/GEOSX/build/bin
     filter_maxprocessors               :    :  -1                                               
     geosx_default_args                 :    :  -i                                               
     geosx_executable                   :  * :  /usr/WS1/han12/.jacamar-                         
                                        :    :  ci/builds/xH8Vk3MX/000/gitlab/han12/GEOSX/build/bin/geosx
     gnuplot_executable                 :    :  /usr/bin/gnuplot                                 
     machine_options                    :    :  ['--numNodes=2']                                 
     max_retry                          :    :  2                                                
     openmpi_args                       :    :                                                   
     openmpi_install                    :    :                                                   
     openmpi_maxprocs                   :    :  0                                                
     openmpi_precommand                 :    :                                                   
     openmpi_procspernode               :    :  1                                                
     openmpi_terminate                  :    :                                                   
     override_np                        :    :  0                                                
     override_timelimit                 :    :  False                                            
     priority                           :    :  equal                                            
     rebaseline_ask                     :    :  True                                             
     rebaseline_undo                    :    :  False                                            
     report_doc_dir                     :  * :  /usr/WS1/han12/.jacamar-                         
                                        :    :  ci/builds/xH8Vk3MX/000/gitlab/han12/GEOSX/integratedTests/update/doc
     report_doc_link                    :    :  True                                             
     report_doc_remake                  :    :  False                                            
     report_html                        :    :  True                                             
     report_html_file                   :    :  test_results.html                                
     report_html_periodic               :    :  True                                             
     report_ini                         :    :  True                                             
     report_ini_file                    :    :  test_results.ini                                 
     report_notations                   :    :  ['machine : GeosxAtsSlurmProcessorScheduled',    
                                        :    :  'directory : /usr/WS1/han12/.jacamar-            
                                        :    :  ci/builds/xH8Vk3MX/000/gitlab/han12/GEOSX/integratedTests/update/run',
                                        :    :  'suite = Update']                                
     report_notbuilt_regexp             :    :  (not built into this version)                    
     report_text                        :    :  True                                             
     report_text_echo                   :    :  True                                             
     report_text_file                   :    :  test_results.txt                                 
     report_timing                      :    :  False                                            
     report_timing_overwrite            :    :  False                                            
     report_wait                        :    :  False                                            
     restartcheck_enabled               :    :  True                                             
     retry_err_regexp                   :    :  (launch failed|Failure in initializing           
                                        :    :  endpoint|channel initialization failed)          
     script_launch                      :  * :  1                                                
     testbaseline_dir                   :    :                                                   
     testmodifier                       :    :                                                   
     timing_file                        :    :  timing.txt                                       
     userscript_path                    :    :                                                   
     windows_mpiexe                     :    :                                                   
     windows_nompi                      :    :  False                                            
     windows_oversubscribe              :    :  1                                                

Config file:  /usr/WS1/han12/.jacamar-ci/builds/xH8Vk3MX/000/gitlab/han12/GEOSX/integratedTests/update/testconfig.py

Command line overrides:
     executable_path
................................................................................
